
/*                  SECTION 4: TESTIMONIALS */

#testimonials-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    /*remove one row in case of adding shade*/
    background-color: #393939;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-bottom: 4.8rem;
    border-bottom: .5 solid #393939;
}

#testimonials-grid-item-1 {
    display: grid;
    justify-content: center;
}

#testimonials-grid-item-2 {
    display: grid;
    grid-template-columns: repeat(3, 28%);
    grid-auto-columns: 28%;
    grid-template-rows: repeat(2, auto);
    justify-content: space-evenly;
    align-items: stretch;
    text-align: justify;
    height: inherit;
}

#recom-item-1,
#recom-item-2,
#recom-item-3 {
    display: grid;
    text-align: center;
    padding: 0 .8rem;
    align-items: center;
    border: white solid .12rem;
    box-shadow: 0 .16rem .32rem 0 rgba(11, 11, 11, 0.7), 0 .36rem .4rem 0 rgba(14, 14, 14, 0.6);
}

#recom-item-1 p,
#recom-item-2 p,
#recom-item-3 p {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

#recom-item-4 {
    grid-area: 2 / 2 / 3 / 3;
    width: 100%;
    text-align: center;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -ms-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
}

#recom-item-4 p a {
    text-decoration: none;
}

#recom-item-4 p span {
    font-variant: small-caps;
    font-size: .76rem;
    font-weight: 600;
    letter-spacing: .04rem;
}

#recom-item-4 p span,
#recom-item-4 p span:visited,
#recom-item-4 p span:hover,
#recom-item-4 p span:focus,
#recom-item-4 p span:hover,
#recom-item-4 p span:active {
    text-decoration: none;
    color: white;
}

#in {
    font-size: 0.92rem;
}

#in,
#in:visited,
#in:hover,
#in:focus,
#in:hover,
#in:active {
    text-decoration: none;
    color: #1676b6;
}


#recom-item-1 p:hover,
#recom-item-2 p:hover,
#recom-item-3 p:hover,
#recom-item-1 p:focus,
#recom-item-2 p:focus,
#recom-item-3 p:focus {
    -webkit-transform: translateX(.25rem);
    -moz-transform: translateX(.25rem);
    -ms-transform: translateX(.25rem);
    -o-transform: translateX(.25rem);
    transform: translateX(.25rem);
}

#recom-item-4:hover,
#recom-item-4:focus {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
}